@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 64px;
  --ds-background-100: '#0a0a0a';
  --header-zindex: 10;

  --accents-1: #111;
  --accents-2: #333;
  --border-color: ;
  --ds-gray-alpha-400: ;
}
